
<div class="sidenav">
    <ul>
        @if (User.IsInRole("Admin"))
        {
            <li class="text-danger text-decoration-underline" style="font-size:20px;">Admin</li>
            <li><a href="~/Account/Users">Users</a></li>
            <li><a href="~/Account/Roles">Roles</a></li>
            <li><a href="~/PostReport/AllPostReports">Post Reports</a></li>
            <li><a href="~/UserReport/AllUserReports">User Reports</a></li>
            <li><a href="~/BlockByAdmin/AllBlocks">Blocks</a></li>
            <li><hr /></li>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="~/Friend/MyRequest">Friend Requests </a></li>
            <li><a href="~/Friend/RequestFromMe">My Friend Requests </a></li>
            <li><a href="~/Friend/MyFriend">My Friends</a></li>
            <li><a href="~/Post/MyProfile">My Profile</a></li>
            <li><a href="~/BlockByUser/AllBlocks">Blocks</a></li>
            <li><a href="~/SavePost/SavedPost">Saved Posts</a></li>
            <li><a href="~/Chat/AllChats">Chats </a></li>
            <li><hr /></li>
        }


    </ul>
</div>


