@*@model IEnumerable<FriendRequest>

@using System.Security.Claims

@{
    int countRequest = 0;
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    foreach (var item in Model)
    {
        if (item.RecieverId == userId)
        {
            countRequest++;
        }
    }
}*@

<div class="sidenav">
    <ul>
        @if (User.IsInRole("Admin"))
        {
            <li><a href="~/Account/Users">Users</a></li>
            <li><a href="~/Account/Roles">Roles</a></li>
            <li><a href="~/PostReport/AllPostReports">Post Reports</a></li>
            <li><a href="~/UserReport/AllUserReports">User Reports</a></li>
            <li><a href="#">Blocks</a></li>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="~/Friend/MyRequest">Friend Requests </a></li>
            <li><a href="~/Friend/RequestFromMe">My Friend Requests </a></li>
            <li><a href="~/Friend/MyFriend">My Friends</a></li>
            <li><a href="~/Post/MyProfile">My Profile</a></li>
        }

        
    </ul>
</div>





  @*  <script>
        // JavaScript to control side navigation behavior
        document.addEventListener("DOMContentLoaded", function () {
            const sidenav = document.querySelector(".sidenav");
            const footer = document.querySelector("footer");
            const windowHeight = window.innerHeight;
            const footerOffset = footer.offsetTop;

            window.addEventListener("scroll", function () {
                if (window.innerWidth >= 768) { // Apply behavior only on medium screens and above
                    if (window.pageYOffset >= windowHeight) {
                        sidenav.style.left = "0";
                    } else {
                        sidenav.style.left = "-250px";
                    }

                    // Check if the footer is reached
                    if (window.pageYOffset + windowHeight >= footerOffset) {
                        sidenav.style.left = "-250px";
                    }
                }
            });
        });

    </script>*@
