
<ul class="navbar-nav">

    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">LogOut</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>