
<h1 class="text-white text-center bg-black p-2">Dash Board</h1>

<hr />

<div>
    <div class="row pb-3">
        <div class="col-md-4">
            <a asp-action="EditProfile" class="btn btn-outline-primary">Edit Your profile</a>
        </div>
        <div class="col-md-4">
            <a asp-action="ChangePassword" class="btn btn-outline-info">Change Password</a>
        </div>
        <div class="col-md-4">
            <a asp-action="ChangePicture" class="btn btn-outline-primary">Change Picture</a>
        </div>

    </div>


</div>