@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}


<h1 class="bg-dark text-center text-light p-2">All Blocked Users</h1>



<div id="photoModal" class="modal text-xl-center">
    <img src="" alt="Photo" id="bigPhoto" />
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Post/ProfileSomeOne?userId=@item.Id" style="text-decoration:none;">

                        @if (item.Picture != null)
                        {
                            <img src="~/images/@item.Picture" class="rounded-circle img-thumbnail" width="55px;" id="photo" />

                        }
                        else
                        {
                            <img src="~/images/No User Image/User_Image.jpg" class="rounded-circle img-thumbnail" width="55px;" />
                        }
                        <span> @item.UserName</span>
                    </a>
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Summary
                </td>
            </tr>
        }
    </tbody>

</table>












@section Scripts {

    <script>

        var photo = document.getElementById("photo");
        var div = document.getElementById("photoModal");
        var bigPhoto = document.getElementById("bigPhoto");

        // On click open the photo
        photo.addEventListener("click", function () {
            bigPhoto.src = this.src;
            div.style.display = "block";
        });

        // Close the modal when clicking outside of the image
        div.addEventListener("click", function () {
            div.style.display = "none";
        });
    </script>
}