@model Forum.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center bg-black text-light">New Post</h1>

<hr />

<div>
    <div>
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row m-3">
                
                <textarea asp-for="Content" style="min-height:300px;" class="form-control col-12"></textarea>
                @*<input asp-for="Content" type="text" class="form-control" style="width:100%" />*@
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group row justify-content-between m-3">
                <input type="submit" value="Publish" class="btn btn-outline-success col-3" />
                <a asp-action="Index" class="btn btn-outline-primary col-3">Home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            document.querySelector('form').addEventListener('submit', function (e) {
                var fileInput = document.querySelector('input[type="file"]');
                if (fileInput.files.length > 0) {
                    var file = fileInput.files[0];
                    if (file.size > 50 * 1024 * 1024) { // 50 MB in bytes
                        e.preventDefault(); // Prevent form submission
                        alert('File size exceeds the limit (50 MB).');
                    }
                }
            });
        </script>
    }
}
