@model IEnumerable<Forum.Models.FriendRequest>

@{
    ViewData["Title"] = "MyRequest";
}

<h3 class="p-2 bg-dark text-light text-center m-3">My Friend Requests</h3>
<hr />

<p>
    <a asp-action="Create" class="btn btn-info">Add New Friends</a>
</p>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    <a href="~/Post/ProfileSomeOne?userId=@item.Sender.Id" style="text-decoration:none;">

                        @if (item.Sender.Picture != null)
                        {
                            <img src="~/images/@item.Sender.Picture" class="rounded-circle img-thumbnail" width="55px;" />

                        }
                        else
                        {
                            <img src="~/images/No User Image/User_Image.png" class="rounded-circle img-thumbnail" width="55px;" />
                        }
                        <span> @item.Sender.UserName</span>
                    </a>
                </td>

                <td>
                    <sub>
                        <sub>
                            <sub>
                                <sub>
                                    <button data-userid="@item.SenderId" data-accept="true" class="btn btn-outline-success  accept-friend-button">Accept</button>
                                    <button data-userid="@item.SenderId" data-accept="false" class="btn btn-outline-danger  reject-friend-button">Reject</button>
                                </sub>
                            </sub>
                        </sub>
                    </sub>
                </td>


            </tr>
        }
    </tbody>
</table>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            $(".accept-friend-button, .reject-friend-button").click(function () {
                var userId = $(this).data("userid");
                var accept = $(this).data("accept");
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: "/Friend/AcceptRequest?userId=" + userId + "&accept=" + accept,
                    success: function (data) {
                        if (data.success) {
                            alert("Now You are friends")
                            location.reload();

                        } else {
                            alert("Operation failed")
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });

        });

    </script>
                                    }