@model IEnumerable<Forum.Models.LikeReplyToComment>

@{
    ViewData["Title"] = "Like Users";
}

<h3 class="bg-dark text-center text-light p-2 m-3">Like Users</h3>
<hr />

<table class="table table-hover table-bordered">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="~/Post/ProfileSomeOne?userId=@item.UserId" style="text-decoration:none;">
                    @if (item.User.Picture != null)
                    {
                        <img src="~/images/@item.User.Picture" class="rounded-circle img-thumbnail" width="55px;" />
                    }
                    else
                    {
                        <img src="~/images/No User Image/User_Image.jpg" class="rounded-circle img-thumbnail" width="55px;" />
                    }
                    <span> @item.User.UserName</span>
                </a>
            </td>
        </tr>
    }
</table>

