@{
    ViewData["Title"] = "Home Page";
}

<div class="m-5" style="height:450px; border:dashed 5px blue; border-radius:10px;">

    <div class="text-center m-3" style="height:400px; background-color:dodgerblue;">
        <h3 class="m-3 p-3" style="color:lightblue;  font-size:40px; margin-top:100px;">Welcome To Our </h3>
        <h1 class="m-3 p-3" style="color:black; font-size:60px;">Social Network Application</h1>
        <div class="row justify-content-between p-5">
            <a asp-action="Register" asp-controller="Account" class="btn btn-outline-success col-3 bg-success text-light">Register</a>
            <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success col-3 bg-success text-light">Login</a>
        </div>
       
    </div>
</div>


